.img-responsive {
    max-height: calc(100vh - 75px);
}

.img-responsive:hover~.left-align-overlay{
	opacity: 0.5;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.img-responsive:hover~.right-align-overlay{
	opacity: 0.5;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.left-align-overlay {
  position: absolute;
  text-align:left;
  top: calc(50% - 20px);
  left: 0;
  opacity: 0;
}

.right-align-overlay {
  position: absolute;
  text-align:right;
  top: calc(50% - 20px);
  right:0;
  opacity: 0;
}

.left-align-overlay:hover {
  position: absolute;
  text-align:left;
  top: calc(50% - 20px);
  left: 0;
  opacity: 1;
}

.right-align-overlay:hover {
  position: absolute;
  text-align:right;
  top: calc(50% - 20px);
  right:0;
  opacity: 1;
}

.modal-overlay{
  z-index: 10;
}


@keyframes cssAnimation {
    to {
        opacity: 0.1;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        opacity: 0.1;
    }
}

:host-context(.modal-dialog) {
    display: flex;
    width: auto;
}

:host-context(.modal) {
    text-align:center;
}
