.img-responsive {
    max-height: calc(100vh - 75px);
}

.img-responsive:hover~.left-align-overlay{
	opacity: 0.5;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.img-responsive:hover~.right-align-overlay{
	opacity: 0.5;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.center-align-overlay {
  position: absolute;
  text-align:center;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  opacity: 0;
}

.center-align-overlay:hover {
  opacity: 100;
}

.left-align-overlay {
  position: absolute;
  text-align:left;
  top: calc(50% - 20px);
  left: 0;
  opacity: 0;
}

.right-align-overlay {
  position: absolute;
  text-align:right;
  top: calc(50% - 20px);
  right:0;
  opacity: 0;
}

.left-align-overlay:hover {
  position: absolute;
  text-align:left;
  top: calc(50% - 20px);
  left: 0;
  opacity: 1;
}

.right-align-overlay:hover {
  position: absolute;
  text-align:right;
  top: calc(50% - 20px);
  right:0;
  opacity: 1;
}

.modal-overlay{
  z-index: 10;
}


@keyframes cssAnimation {
    to {
        opacity: 0.1;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        opacity: 0.1;
    }
}

.loading {
  position: absolute;
  top: 50%;
  left:50%;
  margin-top:-140px;
  margin-left: -40px;
}

:host-context(.modal-dialog) {
    display: flex;
    width: auto;
}

:host-context(.modal) {
    text-align:center;
}


.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}